@model IEnumerable<jgboard.Models.BoardDTO>


@{
    ViewBag.Title = "BoardList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoardList</h2>

<br />
<table class="table">
    <thead>
        <tr>
            <td>등록번호</td>
            <td>제목</td>
            <td>내용</td>
            <td>등록일</td>
        </tr>
    </thead>
</table>

<tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SEQ</td>


                </tr>
            }


</tbody>